:root {
    color-scheme: light dark;
}

body {
    display: block;
    place-content: center;
    text-align: center;
}

section {
    display: flex;
    justify-content: center;
}

#info {
    font-size: 12px;
}